.footer {
  background-color: rgba(2, 0, 0, 0.95);
  border-top: 2px solid #550000;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.copyright {
  color: #a4a3a3;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.socialLinks a {
  transition: transform 0.3s;
}

.socialLinks a:hover {
  transform: translateY(-5px);
}

.icon {
  color: #550000;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #370604;
}
